<a href="https://colab.research.google.com/github/CPyLadies/intro-python-datascience/blob/master/PythonForDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The purpose of this notebook is to become familiarize with Python to perform basic data analysis. 
<br><br>
The dataset <i>ORD_LAX</i> contains data of flights from ORD to LAX throughout
January 2019 from the Bureau of Transportation Statistics (BTS). The dataset contain the following variables:
<br><br>
* **Flight Date**: Date of the flight (mm/dd/yyyy)
* **Carrier**: Carrier IATA identifcation
* **Flight Number**: Number assigned to the flight
* **Origin**: Origin airport
* **Destination**: Destination airport
* **Departure Time**: Time of departure (hhmm)
* **Depature Delay**: Difference between scheduled and actual departure time (minutes)
* **Arrival Time**: Time of arrival (hhmm)
* **Arrival Delay**: Difference between scheduled and actual arrival time (minutes)
* **Flight Time**: Actual time reported for flight segment (minutes)

### Problem 1

Read in <i>ORD_LAX.csv</i> from <i>url<i/> as a panda DataFrame.

In [0]:
import pandas as pd

url='https://raw.githubusercontent.com/CPyLadies/intro-python-datascience/master/ORD_LAX.csv'

# Import Dataset
df = pd.read_csv(url)

### Problem 2

Print the last 7 lines of the DataFrame.

In [5]:
# Display last 7 lines of the dataframe -- this has been done for you

df.tail(7)

# Now it's your turn! Display the FIRST 8 lines of the dataframe

    FlightDate Carrier  FlightNumber  ... ArrivalTime ArrivalDelay  FlightTime
641  1/31/2019      AA          1163  ...         NaN          NaN         NaN
642  1/31/2019      AA          1208  ...         NaN          NaN         NaN
643  1/31/2019      AS          1241  ...       458.0        428.0       276.0
644  1/31/2019      NK           731  ...      1757.0         -3.0       272.0
645  1/31/2019      NK           737  ...      1227.0         -1.0       280.0
646  1/31/2019      AA           245  ...         NaN          NaN         NaN
647  1/31/2019      AA          1375  ...      1728.0         -2.0       265.0

[7 rows x 10 columns]

### Problem 3

You should notice a missing values within the dataset. For now, drop all rows in the DataFrame that contains at least 1 missing value.

In [0]:
# Drop NAs from dataframe

### Problem 4

We will not need to use the variables 'Origin', 'Destination', 'DepartureTime', and 'ArrivalTime'. Drop these four variables from the DataFrame.

In [0]:
# Drop columns from the dataframe

### Problem 5
What is the minimum, maximum and mean flight time? Can you also obtain the 25-, 50-, and 75- percenti
Hint: you can summarize this info using one method

In [0]:
# Descibe the flight time column with min/max/mean and percentiles

### Problem 6
How many flights did each carrier have? That is, obtain a frequency table of the carriers.

In [0]:
# Calculate count of flights per carrier

### Problem 7
On average, which carrier have the lowest flight time?

*Hint: You can use a groupby to assess average flight time by carrier*

In [0]:
# Your code here

### Problem 8
Compute the sum of the departure and arrival delay as '<i>TotalDelay</i>'. Which carrier has the lowest average TotalDelay?

*Hint: Again, you can do a groupby on Carrier and TotalDelay to determine mean delay per carrier*

In [0]:
# Your code here
df['TotalDelay'] = ...

### Problem 9
Show all flights for the FlightDate 1/14/2019

In [0]:
# Flights for 1/14/2019

### Problem 10
Show all flights for AA 245.

In [0]:
# Show flights for AA 245

### Problem 11
Find the shortest flight (by shortest FlightTime) for each airline carrier. Be sure your result includes the FlightNumber
<br><br>
*E.g., Best flight for AA is FlightNumber 245 with 229 minutes.*

In [0]:
# Your code here

### Problem 12

Using matplotlib, create a scatter plot where the x-axis is ArrivalDelay and the y-axis is DepartureDelay.

In [0]:
import matplotlib.pyplot as plt

# Your code here

### Problem 13

Create a histogram of the FlightTime.

In [0]:
# Your code here